@page "/search"
@rendermode InteractiveServer
@using Plat_prog.Models
@inject Plat_prog.Services.MovieService MovieService
@inject Plat_prog.Data.AppDbContext Db

<h3>Search Movies</h3>

<input @bind="query" placeholder="Enter movie title" />
@*<button @onclick="SearchMovies">Search</button>*@
<button @onclick="async () => await SearchMovies()">Search</button>
<p>@debugMessage</p>

@if (movies != null)
{
    <ul>
        @foreach (var movie in movies)
        {
            <li>
                <b>@movie.Title</b> (@movie.Year)
                <button @onclick="() => SaveMovie(movie)">Save</button>
                <a href="/movie/@movie.ImdbId">Szczegóły</a>
            </li>
        }
    </ul>
}
@*@if (movies != null)
{
    <ul>
        @foreach (var movie in movies)
        {
            <li>@movie.Title (@movie.Year)</li>
        }
    </ul>
}*@

@code {
    string query;
    List<Movie> movies;
    string debugMessage = "";

    async Task SearchMovies()
    {
        debugMessage = "Searching...";
        movies = await MovieService.SearchMovies(query);
        debugMessage = $"Znaleziono: {movies?.Count}";
    }

    async Task SaveMovie(Movie movie)
    {
        if (!Db.Movies.Any(m => m.ImdbId == movie.ImdbId))
        {
            try
            {
                Db.Movies.Add(new Movie
                {
                    Title = movie.Title,
                    Year = movie.Year,
                    ImdbId = movie.ImdbId,
                    Poster = movie.Poster,

                    Plot = "",
                    Director = "",
                    Actors = "",
                    Genre = "",
                    ImdbRating = ""
                });

                await Db.SaveChangesAsync();
            }
            catch (Exception ex)
            {
                Console.WriteLine("BŁĄD:");
                Console.WriteLine(ex.ToString());
            }
        }
        //{
            //Db.Movies.Add(movie);
            //await Db.SaveChangesAsync();
            //try
            //{
              //  Db.Movies.Add(movie);
                //await Db.SaveChangesAsync();
            //}
            //catch (Exception ex)
            //{
              //  Console.WriteLine(ex.Message);
                //Console.WriteLine("BŁĄD:");
                //Console.WriteLine(ex.ToString());
            //}
        //}
    }
}
